<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 사용할 모델 클래스 별칭 지정 (environments 상단에 위치한다.) -->
	<typeAliases>
		<typeAlias type="model.board.BoardModel" alias="BoardModel" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<!-- 데이터베이스 접속 정보 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/stone"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	<!-- SQLMAPPER (environments 하단에 위치한다.) -->
	<mappers>
		<!-- 게시판 SQLMAP -->
		<mapper resource="mybatis/sqlmap/board.xml"/>
	</mappers>
</configuration>